<%= link_to root_path, class: "navbar-logo" do %>
  <%= render Logo::Component.new %>
<% end %>
<nav>
  <%= nav_link_to "Dashboard", madmin_root_path %>
  <% Madmin.menu.render do |item| %>
    <%= next if  item.url.include?("active_storage") %>
    <% if item.url %>
      <%= nav_link_to item.label, item.url, starts_with: item.url %>
    <% else %>
      <h4><%= item.label %></h4>
    <% end %>
    <% item.items.each do |item| %>
      <%= nav_link_to item.label, item.url, starts_with: item.url %>
    <% end %>
  <% end %>
</nav>
<footer>
</footer>
